---
import type { GetStaticPaths } from "astro";
import Base from "../../layouts/Base.astro";
import { render } from "astro:content";
import { getPosts, getPostUrl, getSortedPosts } from "../../lib/content";

export const getStaticPaths = (async () => {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { title, pubDate } = post.data;
const { Content } = await render(post);

const posts = await getSortedPosts();
const currentIndex = posts.findIndex((p) => p.id == post.id);
const prevPost = posts[currentIndex - 1];
const nextPost = posts[currentIndex + 1];
---

<Base title={title}>
  <article>
    <header>
      <h1>{title}</h1>
      <time>{pubDate.toLocaleDateString("zh-CN")}</time>
    </header>
    <Content />

    <nav class="adjacent">
      <div class="prev">
        {
          prevPost && (
            <a href={getPostUrl(prevPost.id)}>
              <span>← 上一篇</span>
              <strong>{prevPost.data.title}</strong>
            </a>
          )
        }
      </div>
      <div class="next">
        {
          nextPost && (
            <a href={getPostUrl(nextPost.id)}>
              <span>下一篇 →</span>
              <strong>{nextPost.data.title}</strong>
            </a>
          )
        }
      </div>
    </nav>
  </article>
</Base>
