---
interface Props {
  prev: string | undefined;
  next: string | undefined;
  first: string | undefined;
  last: string | undefined;
  total: number;
  current: number;
}

const { first, prev, next, last, total, current } = Astro.props;
---

<nav
  inline-flex
  items-center
  border="~ base-content/10"
  shadow-xs
  rounded-lg
  overflow-hidden
  bg="base-100"
  flex="~"
  items-center
  aria-label="分页导航"
>
  <a
    href={prev}
    class="pagination-btn"
    title="上一页"
    transition:name="pagination-prev"
  >
    <div i-mdi:arrow-left-bold></div>
  </a>

  {
    first && first != prev && (
      <a
        href={first}
        class="pagination-btn"
        title="首页"
        transition:name={`pagination-btn-1`}
      >
        1
      </a>
    )
  }

  {
    current - 2 > 1 && (
      <span class="pagination-dots" transition:name="pagination-dots-l">
        ···
      </span>
    )
  }

  {
    prev && (
      <a
        href={prev}
        class="pagination-btn"
        title="上一页"
        transition:name={`pagination-btn-${current - 1}`}
      >
        {current - 1}
      </a>
    )
  }

  <span
    class="pagination-current"
    bg-primary-200
    text-primary
    transition:name={`pagination-btn-${current}`}
  >
    {current}
  </span>

  {
    next && (
      <a
        href={next}
        class="pagination-btn"
        title="下一页"
        transition:name={`pagination-btn-${current + 1}`}
      >
        {current + 1}
      </a>
    )
  }

  {
    current + 2 < total && (
      <span class="pagination-dots" transition:name="pagination-dots-r">
        ···
      </span>
    )
  }

  {
    last && last != next && (
      <a
        href={last}
        class="pagination-btn"
        title="末页"
        transition:name={`pagination-btn-${total}`}
      >
        {total}
      </a>
    )
  }

  <a
    href={next}
    class="pagination-btn"
    title="下一页"
    transition:name="pagination-next"
  >
    <div i-mdi:arrow-right-bold></div>
  </a>
</nav>

<style>
  .pagination-btn,
  .pagination-current,
  .pagination-dots {
    @apply flex items-center justify-center leading-none w-3em py-2;
  }

  .pagination-btn {
    @apply text-base-content/70
           transition-all duration-200;
  }
  .pagination-btn:hover {
    @apply bg-base-300 text-base-content;
  }

  .pagination-dots {
    @apply text-base-content/40 select-none;
  }
</style>
