---
import { getPostUrl, type PostEntry } from "../../lib/content";
import ReadingTime from "../widgets/ReadingTime.astro";
import WordsCount from "../widgets/WordsCount.astro";

interface Props {
  post: PostEntry;
}

const { post } = Astro.props;
const { words, time: milliseconds } = post.readingStats;
---

<a
  class="group"
  flex="~ col"
  rounded-2xl
  bg-base-100
  shadow="sm"
  hover:translate-y--1px
  transition-all
  href={getPostUrl(post.id)}
>
  <article flex="~ col" h-full p-4 gap-2>
    <div
      flex
      justify-between
      text-xl
      group-hover:text-primary
      transition-colors
    >
      <h2 font-semibold>
        {post.data.title}
      </h2>
      <div h="1.5em" flex items-center>
        <div text-xl font-semibold i-mdi:arrow-u-left-bottom></div>
      </div>
    </div>
    <p text="base-content/70" leading-relaxed line-clamp-3>
      {post.data.description}
    </p>
    <div flex="~ wrap" gap-4 text="sm base-content/70">
      <span flex items-center gap-2>
        <div i-mdi:calendar-month></div>
        <time>
          {post.data.pubDate.toLocaleDateString("zh-CN")}
        </time>
      </span>
      <span flex items-center gap-2>
        <WordsCount {words} />
      </span>
      <span flex items-center gap-2>
        <ReadingTime {milliseconds} />
      </span>
    </div>
  </article>
</a>
